@using CrossCountrySkis.Models

<section class="mt-4 p-4 bg-info bg-opacity-10 border-primary rounded">
    <h2 class="h4 mb-3">Your suggested ski length</h2>

    <div>
        @if (_useLengthSpan)
        {
            <p class="fw-bold">
                Based on the input, we recommend skis between
                <span class="text-primary fw-bold">@Result?.SkiLengthSpan?.LowerSpan</span>
                and
                <span class="text-primary fw-bold">@Result?.SkiLengthSpan?.UpperSpan cm</span>.
            </p>
        } else
        {
            <p class="fw-bold">
                Based on the input, we recommend skis of
                <span class="text-primary fw-bold">@(Result?.SkiLength) cm</span>.
            </p>
        }

        <p class="text-muted fst-italic">
            Happy skiing! :)
        </p>
    </div>
</section>


@code {
    [Parameter]
    public SuggestedSkiLengthResult? Result { get; set; }

    private bool _useLengthSpan;

    protected override void OnParametersSet()
    {
        _useLengthSpan = Result?.SkiLengthSpan is not null;
    }

}
