@page "/"
@using CrossCountrySkis.Models
@using CrossCountrySkis.Models.Enums
@using CrossCountrySkis.Services.Interfaces

@rendermode InteractiveServer
@inject ISkiService SkiService

<PageTitle>Home</PageTitle>

<h1>Ski length calculator</h1>

<div class="row">
    <div class="col-12 col-lg-6">
        Please select parameters to get recommendations for your ski length:

        <EditForm FormName="SkiLengthForm" Model="@_formModel" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />

            <div class="py-2">
                <label class="fw-bold mb-1">Length (cm)</label>
                <InputNumber class="form-control" @bind-Value="_formModel.Length" />
                <ValidationMessage For="() => _formModel.Length" />
            </div>
            <div class="py-2">
                <label class="fw-bold mb-1">Age</label>
                <InputNumber class="form-control" @bind-Value="_formModel.Age" />
                <ValidationMessage For="() => _formModel.Age" />
            </div>
            <div class="py-2">
                <label class="fw-bold mb-1">Ski type</label>

                <div class="d-flex gap-3">
                    <InputRadioGroup @bind-Value="_formModel.SkiType">
                        @foreach (var skiType in Enum.GetValues<SkiType>())
                        {
                            <div>
                                <label>
                                    <InputRadio Value="skiType" />
                                    @skiType
                                </label>
                            </div>
                        }
                    </InputRadioGroup>
                </div>

            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
        </EditForm>

        @if (_result is not null)
        {
            <SkiLengthResult Result="@_result" />
        }
    </div>
</div>


@code {
    private SkiLengthFormModel _formModel = new();
    private SuggestedSkiLengthResult? _result;

    private void HandleValidSubmit()
    {
        _result = SkiService.CalculateSkiLength(_formModel);
    }
}
